[submodule "external/madrona"]
	path = external/madrona
	url = https://github.com/shacklettbp/madrona.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
