mode: "train"
use_rnn: false
eval_model_path: null
baseline: false
data_dir: "data/processed/sampled/training"

environment: # Overrides default environment configs (see pygpudrive/env/config.py)
  name: "gpudrive"
  num_worlds: 50 # Number of parallel environments
  k_unique_scenes: 100 # Number of unique scenes to sample from
  max_controlled_agents: 32 # Maximum number of agents controlled by the model. Make sure this aligns with the variable kMaxAgentCount in src/consts.hpp
  ego_state: true
  road_map_obs: true
  partner_obs: true
  normalize_obs: true
  remove_non_vehicles: true # If false, all agents are included (vehicles, pedestrians, cyclists)
  use_lidar_obs: false # NOTE: Setting this to true currently turns of the other observation types
  reward_type: "weighted_combination"
  collision_weight: -0.035
  off_road_weight: -0.035
  goal_achieved_weight: 1.0
  dynamics_model: "classic"
  collision_behavior: "ignore" # Options: "remove", "stop"
  dist_to_goal_threshold: 3.0
  polyline_reduction_threshold: 0.2 # Rate at which to sample points from the polyline (0 is use all closest points, 1 maximum sparsity), needs to be balanced with kMaxAgentMapObservationsCount
  sampling_seed: 42 # If given, the set of scenes to sample from will be deterministic, if None, the set of scenes will be random
  obs_radius: 60.0 # Visibility radius of the agents
wandb:
  entity: ""
  project: "gpudrive"
  group: "my_group"
  mode: "online" # Options: online, offline, disabled
  tags: ["ppo", "ff"]

## NOTES
## Good batch size: 128 * number of controlled agents (e.g. 2**18)
## Minibatch size 1/16 of batch size, eg. 16_000

train:
  exp_id: PPO # Set dynamically in the script if needed
  seed: 42
  cpu_offload: false
  device: "cuda"  # Dynamically set to cuda if available, else cpu
  bptt_horizon: 2
  compile: false
  compile_mode: "reduce-overhead"

  # # # Data sampling # # #
  resample_scenes: false
  resample_criterion: "global_step"
  resample_interval: 5_000_000
  resample_limit: 10000 # Resample until the limit is reached; set to a large number to continue resampling indefinitely
  resample_mode: "random" # Options: random

  # # # PPO # # #
  torch_deterministic: false
  total_timesteps: 1_000_000_000
  batch_size: 81_920
  minibatch_size: 16_384
  learning_rate: 3e-4
  anneal_lr: false
  gamma: 0.99
  gae_lambda: 0.95
  update_epochs: 5
  norm_adv: true
  clip_coef: 0.2
  clip_vloss: false
  vf_clip_coef: 0.2
  ent_coef: 0.0001
  vf_coef: 0.5
  max_grad_norm: 0.5
  target_kl: null

  # # # Checkpointing # # #
  checkpoint_interval: 1000 # Save policy every k iterations
  checkpoint_path: "./runs"

  # # # Rendering # # #
  render: false # Determines whether to render the environment (note: will slow down training)
  render_interval: 500 # Render every k iterations
  render_k_scenarios: 10 # Number of scenarios to render
  render_simulator_state: true # Plot the simulator state from bird's eye view
  render_agent_obs: false # Debugging tool, plot what an agent is seing
  render_fps: 15 # Frames per second
  render_format: "mp4" # Options: gif, mp4

vec:
  backend: "native" # Only native is currently supported
  num_workers: 1
  env_batch_size: 1
  zero_copy: false
